.row{
	@mixin Clearfix;

	&__gutter{
		margin-right: -65px;
	}

	&__gutter > div{
		padding-right: 65px; 
	}

	&__gutter-large {
		margin-right: -100px;
	}

	&__gutter-large > div {
		padding-right: 100px;
	}
	
	&__b-m-until-medium {
		margin-bottom: 1rem; 
	}

	@mixin atMedium{
		&__b-m-until-medium {
		margin-bottom: 0; 
	 	}

	 	&__medium-6{
	 		float:left;
	 		width: 50%;
	 	}

		&__m-4 {
			float:left;
			width: 33.333%;
		}

		&__m-4--larger {
			width:37%;
		}

		&__m-8 {
			float:left;
			width: 66.667%;
		}
		&__m-8--smaller{
			width:63%;
		}
	}
}