.ws-header{
	background-color:rgba(47, 85, 114,.5); 
	position: absolute;
	z-index: 2;
	width: 100%;

	&__content{
		float: right;
		width: 100%;
	}
	&__image{
		position: absolute;
		background-color: #2f5572;
		padding:.9rem;
		top:0;
		left: 1.5rem;
	}
	
	&__btn{
		float: right;
		padding: 13px;
		margin: 13px;
	}

	li{
		float: right;
		padding-right:15px;
		list-style: none;
		position: relative;
		transform: translateY(50%);

		a {
			text-decoration: none ;
			color:#fff;
		}
		}

}